[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap5 = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
manage = "./manage.py"
shell = "./manage.py shell"
migrate = "./manage.py migrate"
service = "./manage.py runserver"
check = "./manage.py makemigrations --dry-run --check -v 3"
