{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block "head_title" %}Вход{% endblock %}

{% block "main" %}
  <div class="container">
    <h1>Вход</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <form method="post" action="{% url 'accounts:login' %}" class="form">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button button_type="submit" content="Войти" %}
        </form>
      </div>
      <div class="col-sm-0 col-md-4">
        <h5>Пояснение</h5>
        <p>Введите имя пользователя и дважды введите пароль!</p>
        <a class="nav-link" href="{% url 'password_reset' %}">Сброс пароля</a>
      </div>
    </div>
  </div>
{% endblock %}
