{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block "head_title" %}Сброс пароля{% endblock %}

{% block "main" %}
  <div class="container">
    <h1>Запрос на сброс пароля отправлен</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <p>
          Мы отправили на вашу электронную почту инструкции по установке пароля,
          вы получите его, если аккаунт с введённым почтовым адресом существует
          в нашей системе. Письмо придёт быстро.
        </p>
        <p>
          Если вы не получили наше сообщение, пожалуйста, проверьте, что вы
          ввели адрес электронной почты правильно, а также проверьте папку со спамом.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
