{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block "head_title" %}Рабы на галерах{% endblock %}

{% block "main" %}
    <div class="container-md">
      <h1>{{ title }}</h1>
    </div>

    <div class="container">
      <p>List of slaves</p>

      <table class="table">
      <thead>
        <tr>
          <th scope="col">Владелец</th>
          <th scope="col">Телефон</th>
          <th scope="col">Название</th>
          <th scope="col">Зарплата</th>
          <th scope="col">Зарегистрировано</th>
        </tr>
      </thead>
      <tbody>
        {% for item in queryset %}
        <tr>
          <td>{{ item.owner }}</td>
          <td>{{ item.phone }}</td>
          <td>{{ item.title }}</td>
          <td>{{ item.money }} ₽</td>
          <td>{{ item.registered_in }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <p>Youtube here</p>
        <iframe width="420" height="315" style="border: 2px solid red"
                src="http://www.youtube.com/watch?v=Dcf36Ffwsa8">
        </iframe>
      </div>
    </div>
  </div>
{% endblock %}
